/*Header.js*/
.Title{
    
    /* width: 50vh; 
    height: 6vw; */
    color: #74A35B;
    margin: 51vmin;
    font-size: 11vmin;
    background-color: #504837;
    background-size: cover;
    text-align: center;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 25px;
    font-family: Itim
}
.site-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh; /* adjust this value as needed */
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./images/title-bg.png");
}

.title_container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmax;
    flex: 1
}

/*Nav.js*/
.nav-container{
    background-color: #50483790;
}

.nav-text{
    font-family: Itim;
}

@font-face {
    font-family: Itim;
    src: url(./fonts/Itim-Regular.ttf);
}

.epoch-image {
    width: 50%;
    height: auto;
}