* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-brown: #382D0A;
}

.header{
    height: 25vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/src/images/title-bg.png");
}

.header-title{
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
}

.nav-container{
    background-color: var(--dark-brown);
    font-size: x-large;
}

.embeddings-image {    
    @media (max-width: 991.98px) {
        width: 100%;
    }

    @media (min-width: 992px) {
        width: 80%;
    }

    @media (min-width: 1200px) {
        width: 70%;
    }

    height: auto;
}

.model-diagram-image {    
    width: 100%;
    height: auto;
}

.model-diagram-key {    
    width: 50%;
    height: auto;
}

.gifs-image {    
    @media (max-width: 991.98px) {
        width: 70%;
    }

    @media (min-width: 992px) {
        width: 50%;
    }

    @media (min-width: 1200px) {
        width: 40%;
    }

    height: auto;
}

.build-image{
    width: 100%;
    height: auto;
}

.ToggleButton {
    width: 10%; /* adjust this value to make the buttons wider or narrower */
    margin-bottom: 1%;
  }
  
 
