* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-brown: #382D0A;
}

/*Header.js*/
.header{
    height: 25vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/src/images/title-bg.png");
}

.header-title{
    color: white;
    background-color: var(--dark-brown);
}

/*Nav.js*/
.nav-container{
    background-color: var(--dark-brown);
    font-size: x-large;
}

.epoch-image {
    width: 100%;
    height: auto;
}

.embeddings-image {    
    @media (max-width: 991.98px) {
        width: 100%;
    }

    @media (min-width: 992px) {
        width: 80%;
    }

    @media (min-width: 1200px) {
        width: 70%;
    }

    height: auto;
}